In [1]:
import pandas as pd

Se importa el archivo CSV con los datos del año 2020 y se trabaja en su limpieza

In [2]:
year2020 = pd.read_csv('../Spoti/2020.csv')

year2020.head(5)

,Unnamed: 0,artist,album,track_name,track_id,energy,danceability,key,loudness,acousticness,speechiness,instrumentalness,liveness,valence,tempo,duration_ms,genre
0,0,The Weeknd,After Hours,Blinding Lights,0VjIjW4GlUZAMYd2vXMi3b,0.730,0.514,1,-5.934,0.00146,0.0598,0.000095,0.0897,0.334,171.005,200040,R&B/Soul
1,1,Tones And I,Dance Monkey,Dance Monkey,1rgnBhdG2JDFTbYkYRZAku,0.593,0.825,6,-6.401,0.68800,0.0988,0.000161,0.1700,0.540,98.078,209755,Alternative/Indie
2,2,Roddy Ricch,Please Excuse Me For Being Antisocial,The Box,0nbXyq5TXYPCO7pr3N8S4I,0.586,0.896,10,-6.687,0.10400,0.0559,0.000000,0.7900,0.642,116.971,196653,Hip-Hop/Rap
3,3,SAINt JHN,Roses (Imanbek Remix),Roses - Imanbek Remix,2Wo6QQD1KMDWeFkkjLqwx5,0.721,0.785,8,-5.457,0.01490,0.0506,0.004320,0.2850,0.894,121.962,176219,Dance/Electronic
4,4,Dua Lipa,Future Nostalgia,Don't Start Now,3PfIrDoz19wz7qK7tYeu62,0.793,0.793,11,-4.521,0.01230,0.0830,0.000000,0.0951,0.679,123.950,183290,Nu-disco

In [3]:
#columnas = ['album','track_id','key','instrumentalness']
#year2020.drop(columns = ['album','track_id','key','instrumentalness'], axis=1, inplace=True)

In [4]:
year2020.rename(columns = {'artist':'artist_name', 'tempo':'bpm','Unnamed: 0':'nada','duration_ms':'duration'}, inplace = True)

In [5]:
year2020.drop(columns = ['album','track_id','key','instrumentalness','nada','genre'], axis=1, inplace=True)

In [6]:

#year2020.rename(columns = {'duration_ms':'duration'}, inplace = True)

In [7]:
year2020.head()

,artist_name,track_name,energy,danceability,loudness,acousticness,speechiness,liveness,valence,bpm,duration
0,The Weeknd,Blinding Lights,0.730,0.514,-5.934,0.00146,0.0598,0.0897,0.334,171.005,200040
1,Tones And I,Dance Monkey,0.593,0.825,-6.401,0.68800,0.0988,0.1700,0.540,98.078,209755
2,Roddy Ricch,The Box,0.586,0.896,-6.687,0.10400,0.0559,0.7900,0.642,116.971,196653
3,SAINt JHN,Roses - Imanbek Remix,0.721,0.785,-5.457,0.01490,0.0506,0.2850,0.894,121.962,176219
4,Dua Lipa,Don't Start Now,0.793,0.793,-4.521,0.01230,0.0830,0.0951,0.679,123.950,183290

In [8]:
year2020['year']=[2020 for i in range(len(year2020))]

In [9]:
year2020.head()

,artist_name,track_name,energy,danceability,loudness,acousticness,speechiness,liveness,valence,bpm,duration,year
0,The Weeknd,Blinding Lights,0.730,0.514,-5.934,0.00146,0.0598,0.0897,0.334,171.005,200040,2020
1,Tones And I,Dance Monkey,0.593,0.825,-6.401,0.68800,0.0988,0.1700,0.540,98.078,209755,2020
2,Roddy Ricch,The Box,0.586,0.896,-6.687,0.10400,0.0559,0.7900,0.642,116.971,196653,2020
3,SAINt JHN,Roses - Imanbek Remix,0.721,0.785,-5.457,0.01490,0.0506,0.2850,0.894,121.962,176219,2020
4,Dua Lipa,Don't Start Now,0.793,0.793,-4.521,0.01230,0.0830,0.0951,0.679,123.950,183290,2020

In [10]:
year2020=year2020.iloc[:, [0,1,11,2,3,4,5,6,7,8,9,10]]
year2020.head()

,artist_name,track_name,year,energy,danceability,loudness,acousticness,speechiness,liveness,valence,bpm,duration
0,The Weeknd,Blinding Lights,2020,0.730,0.514,-5.934,0.00146,0.0598,0.0897,0.334,171.005,200040
1,Tones And I,Dance Monkey,2020,0.593,0.825,-6.401,0.68800,0.0988,0.1700,0.540,98.078,209755
2,Roddy Ricch,The Box,2020,0.586,0.896,-6.687,0.10400,0.0559,0.7900,0.642,116.971,196653
3,SAINt JHN,Roses - Imanbek Remix,2020,0.721,0.785,-5.457,0.01490,0.0506,0.2850,0.894,121.962,176219
4,Dua Lipa,Don't Start Now,2020,0.793,0.793,-4.521,0.01230,0.0830,0.0951,0.679,123.950,183290

In [11]:
#year2020.rename(columns = {'Unnamed: 0':'nada'}, inplace = True)

In [12]:
#def milisegundos(x):
    #for e in x:
        #return (e/1000)

In [13]:
#year2020['duration'] = year2020['duration'].div(1000)

In [14]:
year2020['duration'] = (year2020['duration']/1000).round(2)

year2020.head()

,artist_name,track_name,year,energy,danceability,loudness,acousticness,speechiness,liveness,valence,bpm,duration
0,The Weeknd,Blinding Lights,2020,0.730,0.514,-5.934,0.00146,0.0598,0.0897,0.334,171.005,200.04
1,Tones And I,Dance Monkey,2020,0.593,0.825,-6.401,0.68800,0.0988,0.1700,0.540,98.078,209.76
2,Roddy Ricch,The Box,2020,0.586,0.896,-6.687,0.10400,0.0559,0.7900,0.642,116.971,196.65
3,SAINt JHN,Roses - Imanbek Remix,2020,0.721,0.785,-5.457,0.01490,0.0506,0.2850,0.894,121.962,176.22
4,Dua Lipa,Don't Start Now,2020,0.793,0.793,-4.521,0.01230,0.0830,0.0951,0.679,123.950,183.29

Se carga el archivo CSV con los datos del año 2021 y se trabaja en su limpieza

In [15]:
year2021 = pd.read_csv('../Spoti/2021.csv')

year2021.head()

,id,artist_name,track_name,track_id,popularity,danceability,energy,key,loudness,mode,speechiness,acousticness,instrumentalness,liveness,valence,tempo,duration_ms,time_signature
0,1,Olivia Rodrigo,drivers license,5wANPM4fQCJwkGd4rN57mH,92,0.561,0.431,10,-8.810,1,0.0578,0.76800,0.000014,0.1060,0.137,143.875,242013,4
1,2,Lil Nas X,MONTERO (Call Me By Your Name),1SC5rEoYDGUK4NfG82494W,90,0.593,0.503,8,-6.725,0,0.2200,0.29300,0.000000,0.4050,0.710,178.781,137704,4
2,3,The Kid LAROI,STAY (with Justin Bieber),5PjdY0CKGZdEuoNab3yDmX,92,0.591,0.764,1,-5.484,1,0.0483,0.03830,0.000000,0.1030,0.478,169.928,141806,4
3,4,Olivia Rodrigo,good 4 u,4ZtFanR9U6ndgddUvNcjcG,95,0.563,0.664,9,-5.044,1,0.1540,0.33500,0.000000,0.0849,0.688,166.928,178147,4
4,5,Dua Lipa,Levitating (feat. DaBaby),5nujrmhLynf4yMoMtj8AQF,89,0.702,0.825,6,-3.787,0,0.0601,0.00883,0.000000,0.0674,0.915,102.977,203064,4

In [16]:
year2021.rename(columns = {'tempo':'bpm','duration_ms':'duration'}, inplace = True)

In [17]:
year2021.drop(columns = ['track_id','key','instrumentalness','id','mode','popularity','time_signature'], axis=1, inplace=True)

In [18]:
year2021['year']=[2021 for i in range(len(year2021))]
year2021.head()

,artist_name,track_name,danceability,energy,loudness,speechiness,acousticness,liveness,valence,bpm,duration,year
0,Olivia Rodrigo,drivers license,0.561,0.431,-8.810,0.0578,0.76800,0.1060,0.137,143.875,242013,2021
1,Lil Nas X,MONTERO (Call Me By Your Name),0.593,0.503,-6.725,0.2200,0.29300,0.4050,0.710,178.781,137704,2021
2,The Kid LAROI,STAY (with Justin Bieber),0.591,0.764,-5.484,0.0483,0.03830,0.1030,0.478,169.928,141806,2021
3,Olivia Rodrigo,good 4 u,0.563,0.664,-5.044,0.1540,0.33500,0.0849,0.688,166.928,178147,2021
4,Dua Lipa,Levitating (feat. DaBaby),0.702,0.825,-3.787,0.0601,0.00883,0.0674,0.915,102.977,203064,2021

In [19]:
year2021=year2021.iloc[:, [0,1,11,3,2,4,6,5,7,8,9,10]]
year2021.head()

,artist_name,track_name,year,energy,danceability,loudness,acousticness,speechiness,liveness,valence,bpm,duration
0,Olivia Rodrigo,drivers license,2021,0.431,0.561,-8.810,0.76800,0.0578,0.1060,0.137,143.875,242013
1,Lil Nas X,MONTERO (Call Me By Your Name),2021,0.503,0.593,-6.725,0.29300,0.2200,0.4050,0.710,178.781,137704
2,The Kid LAROI,STAY (with Justin Bieber),2021,0.764,0.591,-5.484,0.03830,0.0483,0.1030,0.478,169.928,141806
3,Olivia Rodrigo,good 4 u,2021,0.664,0.563,-5.044,0.33500,0.1540,0.0849,0.688,166.928,178147
4,Dua Lipa,Levitating (feat. DaBaby),2021,0.825,0.702,-3.787,0.00883,0.0601,0.0674,0.915,102.977,203064

In [20]:
year2021['duration'] = (year2021['duration']/1000).round(2)

year2021.head()

,artist_name,track_name,year,energy,danceability,loudness,acousticness,speechiness,liveness,valence,bpm,duration
0,Olivia Rodrigo,drivers license,2021,0.431,0.561,-8.810,0.76800,0.0578,0.1060,0.137,143.875,242.01
1,Lil Nas X,MONTERO (Call Me By Your Name),2021,0.503,0.593,-6.725,0.29300,0.2200,0.4050,0.710,178.781,137.70
2,The Kid LAROI,STAY (with Justin Bieber),2021,0.764,0.591,-5.484,0.03830,0.0483,0.1030,0.478,169.928,141.81
3,Olivia Rodrigo,good 4 u,2021,0.664,0.563,-5.044,0.33500,0.1540,0.0849,0.688,166.928,178.15
4,Dua Lipa,Levitating (feat. DaBaby),2021,0.825,0.702,-3.787,0.00883,0.0601,0.0674,0.915,102.977,203.06

Se carga el archivo CSV con los datos desde el 2010 hasta el 2019 y se trabaja en su limpieza

In [21]:
years = pd.read_csv('../Spoti/years.csv', encoding='latin-1')

years.head()

,Unnamed: 0,title,artist,top genre,year,bpm,nrgy,dnce,dB,live,val,dur,acous,spch,pop
0,1,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
1,2,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82
2,3,TiK ToK,Kesha,dance pop,2010,120,84,76,-3,29,71,200,10,14,80
3,4,Bad Romance,Lady Gaga,dance pop,2010,119,92,70,-4,8,71,295,0,4,79
4,5,Just the Way You Are,Bruno Mars,pop,2010,109,84,64,-5,9,43,221,2,4,78

In [22]:
years.rename(columns = {'title':'track_name','artist':'artist_name','nrgy':'energy','dnce':'danceability','dB':'loudness','live':'liveness','val':'valence','dur':'duration','acous':'acousticness','spch':'speechiness','Unnamed: 0':'nada'}, inplace = True)

In [23]:
years.head()

,nada,track_name,artist_name,top genre,year,bpm,energy,danceability,loudness,liveness,valence,duration,acousticness,speechiness,pop
0,1,"Hey, Soul Sister",Train,neo mellow,2010,97,89,67,-4,8,80,217,19,4,83
1,2,Love The Way You Lie,Eminem,detroit hip hop,2010,87,93,75,-5,52,64,263,24,23,82
2,3,TiK ToK,Kesha,dance pop,2010,120,84,76,-3,29,71,200,10,14,80
3,4,Bad Romance,Lady Gaga,dance pop,2010,119,92,70,-4,8,71,295,0,4,79
4,5,Just the Way You Are,Bruno Mars,pop,2010,109,84,64,-5,9,43,221,2,4,78

In [24]:
years.drop(columns = ['nada','pop'], axis=1, inplace=True)

In [25]:
years.drop(columns = ['top genre'], axis=1, inplace=True)

In [26]:
years=years.iloc[:, [1,0,2,4,5,6,10,11,7,8,3,9]]
years.head()

,artist_name,track_name,year,energy,danceability,loudness,acousticness,speechiness,liveness,valence,bpm,duration
0,Train,"Hey, Soul Sister",2010,89,67,-4,19,4,8,80,97,217
1,Eminem,Love The Way You Lie,2010,93,75,-5,24,23,52,64,87,263
2,Kesha,TiK ToK,2010,84,76,-3,10,14,29,71,120,200
3,Lady Gaga,Bad Romance,2010,92,70,-4,0,4,8,71,119,295
4,Bruno Mars,Just the Way You Are,2010,84,64,-5,2,4,9,43,109,221

In [27]:
columnas=['energy','danceability','loudness','valence','bpm','acousticness','speechiness','liveness']


for e in columnas:
    if e in ['energy','danceability','loudness','valence','bpm']:
        years[e]= years[e]/1000
    elif e in ['speechiness','liveness']:
        years[e] = years[e]/10000
    else:
        years[e] = years[e]/100000

In [28]:
years['duration'] = years['duration'].astype(float)

In [29]:
#years['duration']  =(years['duration']+0.001).round(2)

In [30]:
years.head()

,artist_name,track_name,year,energy,danceability,loudness,acousticness,speechiness,liveness,valence,bpm,duration
0,Train,"Hey, Soul Sister",2010,0.089,0.067,-0.004,0.00019,0.0004,0.0008,0.080,0.097,217.0
1,Eminem,Love The Way You Lie,2010,0.093,0.075,-0.005,0.00024,0.0023,0.0052,0.064,0.087,263.0
2,Kesha,TiK ToK,2010,0.084,0.076,-0.003,0.00010,0.0014,0.0029,0.071,0.120,200.0
3,Lady Gaga,Bad Romance,2010,0.092,0.070,-0.004,0.00000,0.0004,0.0008,0.071,0.119,295.0
4,Bruno Mars,Just the Way You Are,2010,0.084,0.064,-0.005,0.00002,0.0004,0.0009,0.043,0.109,221.0

Se unen los tres nuevos dataframes en uno.

In [31]:
spoti = pd.concat([years, year2020,year2021]).reset_index()

In [32]:
spoti.head()

,index,artist_name,track_name,year,energy,danceability,loudness,acousticness,speechiness,liveness,valence,bpm,duration
0,0,Train,"Hey, Soul Sister",2010,0.089,0.067,-0.004,0.00019,0.0004,0.0008,0.080,0.097,217.0
1,1,Eminem,Love The Way You Lie,2010,0.093,0.075,-0.005,0.00024,0.0023,0.0052,0.064,0.087,263.0
2,2,Kesha,TiK ToK,2010,0.084,0.076,-0.003,0.00010,0.0014,0.0029,0.071,0.120,200.0
3,3,Lady Gaga,Bad Romance,2010,0.092,0.070,-0.004,0.00000,0.0004,0.0008,0.071,0.119,295.0
4,4,Bruno Mars,Just the Way You Are,2010,0.084,0.064,-0.005,0.00002,0.0004,0.0009,0.043,0.109,221.0

In [33]:
#spoti.drop(columns = ['index'], axis=1, inplace=True)

In [34]:
spoti.drop(columns = ['index'], axis=1, inplace=True)

SE HACEN UNOS CAMBIOS EN SPOTI PARA PODER CREAR LA NUEVA TABLA DE KEYS

In [35]:
spoti['year'] = spoti['year'].astype(str)

In [36]:
keys = spoti[['artist_name','track_name','year']].copy()

In [37]:
keys["info"] = keys[["artist_name", "track_name", "year"]].apply("-".join, axis=1)
keys

,artist_name,track_name,year,info
0,Train,"Hey, Soul Sister",2010,"Train-Hey, Soul Sister-2010"
1,Eminem,Love The Way You Lie,2010,Eminem-Love The Way You Lie-2010
2,Kesha,TiK ToK,2010,Kesha-TiK ToK-2010
3,Lady Gaga,Bad Romance,2010,Lady Gaga-Bad Romance-2010
4,Bruno Mars,Just the Way You Are,2010,Bruno Mars-Just the Way You Are-2010
...,...,...,...,...
698,J Balvin,Qué Más Pues?,2021,J Balvin-Qué Más Pues?-2021
699,Joel Corry,Head & Heart (feat. MNEK),2021,Joel Corry-Head & Heart (feat. MNEK)-2021
700,Ariana Grande,34+35,2021,Ariana Grande-34+35-2021
701,Tate McRae,you broke me first,2021,Tate McRae-you broke me first-2021
702,Sebastian Yatra,Pareja Del Año,2021,Sebastian Yatra-Pareja Del Año-2021

In [38]:
keys = keys.sort_values('info', ascending=True)
keys.head()

,artist_name,track_name,year,info
626,24kGoldn,Mood (feat. iann dior),2020,24kGoldn-Mood (feat. iann dior)-2020
672,24kGoldn,Mood (feat. iann dior),2021,24kGoldn-Mood (feat. iann dior)-2021
31,3OH!3,My First Kiss - feat. Ke$ha,2010,3OH!3-My First Kiss - feat. Ke$ha-2010
229,5 Seconds of Summer,She Looks So Perfect,2014,5 Seconds of Summer-She Looks So Perfect-2014
249,A Great Big World,Say Something,2014,A Great Big World-Say Something-2014

In [39]:
spoti['year'] = spoti['year'].astype(int)

In [40]:
spoti.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 703 entries, 0 to 702
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   artist_name   703 non-null    object
 1   track_name    703 non-null    object
 2   year          703 non-null    int64
 3   energy        703 non-null    float64
 4   danceability  703 non-null    float64
 5   loudness      703 non-null    float64
 6   acousticness  703 non-null    float64
 7   speechiness   703 non-null    float64
 8   liveness      703 non-null    float64
 9   valence       703 non-null    float64
 10  bpm           703 non-null    float64
 11  duration      703 non-null    float64
dtypes: float64(9), int64(1), object(2)
memory usage: 153.7 KB

In [41]:
for c in spoti.select_dtypes('object').columns:
    
    spoti[c]=spoti[c].astype('category')
    
spoti.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 703 entries, 0 to 702
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   artist_name   703 non-null    category
 1   track_name    703 non-null    category
 2   year          703 non-null    int64
 3   energy        703 non-null    float64
 4   danceability  703 non-null    float64
 5   loudness      703 non-null    float64
 6   acousticness  703 non-null    float64
 7   speechiness   703 non-null    float64
 8   liveness      703 non-null    float64
 9   valence       703 non-null    float64
 10  bpm           703 non-null    float64
 11  duration      703 non-null    float64
dtypes: category(2), float64(9), int64(1)
memory usage: 148.1 KB

In [42]:
for c in spoti.select_dtypes('integer').columns:
    
    spoti[c]=pd.to_numeric(spoti[c], downcast='integer')
    
spoti.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 703 entries, 0 to 702
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   artist_name   703 non-null    category
 1   track_name    703 non-null    category
 2   year          703 non-null    int16
 3   energy        703 non-null    float64
 4   danceability  703 non-null    float64
 5   loudness      703 non-null    float64
 6   acousticness  703 non-null    float64
 7   speechiness   703 non-null    float64
 8   liveness      703 non-null    float64
 9   valence       703 non-null    float64
 10  bpm           703 non-null    float64
 11  duration      703 non-null    float64
dtypes: category(2), float64(9), int16(1)
memory usage: 144.0 KB

In [43]:
for c in spoti.select_dtypes('float').columns:
    
    spoti[c]=pd.to_numeric(spoti[c], downcast='float')
    
spoti.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 703 entries, 0 to 702
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   artist_name   703 non-null    category
 1   track_name    703 non-null    category
 2   year          703 non-null    int16
 3   energy        703 non-null    float32
 4   danceability  703 non-null    float32
 5   loudness      703 non-null    float32
 6   acousticness  703 non-null    float32
 7   speechiness   703 non-null    float32
 8   liveness      703 non-null    float32
 9   valence       703 non-null    float32
 10  bpm           703 non-null    float32
 11  duration      703 non-null    float32
dtypes: category(2), float32(9), int16(1)
memory usage: 119.3 KB

Se trabaja con selenium para extraer una tabla de una URL y se limpian los datos de la misma

In [44]:
from selenium import webdriver
from selenium.webdriver.chrome.options import Options
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.by import By 
import requests as req

from bs4 import BeautifulSoup as bs

In [45]:
#driver configuration
opciones=Options()

opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
opciones.add_argument('--start-maximized')         # comienza maximizado
opciones.add_argument('user-data-dir=selenium')    # mantiene las cookies
#opciones.add_extension('driver_folder/adblock.crx')       # adblocker
opciones.add_argument('--incognito')

In [46]:
path=ChromeDriverManager().install()

driver=webdriver.Chrome(path)

/var/folders/0p/q9p3n_m96v7fgw9v0l4dvkyr0000gn/T/ipykernel_18076/3774487205.py:3: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  driver=webdriver.Chrome(path)

In [47]:
url = 'https://es.wikipedia.org/wiki/Anexo:Canciones_más_reproducidas_en_Spotify'

In [48]:
driver.get(url)

In [49]:
tabla=driver.find_element(By.TAG_NAME, 'tbody')

filas=tabla.find_elements(By.TAG_NAME, 'tr')


data=[]


for f in filas:
    
    elemen=f.find_elements(By.TAG_NAME, 'td')
    
    tmp=[]
    
    for e in elemen:
        
        tmp.append(e.text)
        
    data.append(tmp)

In [50]:
data=[[e.text for e in f.find_elements(By.TAG_NAME, 'td')] 
      for f in tabla.find_elements(By.TAG_NAME, 'tr')]

In [51]:
cabeceras=driver.find_element(By.TAG_NAME, 'thead')

cabeceras=[c.text for c in cabeceras.find_elements(By.TAG_NAME, 'th')]

driver.quit()

cabeceras= cabeceras[1::]

In [52]:
top_songs=pd.DataFrame(data, columns=cabeceras)

top_songs.tail()

,Canción,Artista(s),Álbum,Millones de reproducciones,Fecha de publicación
95,I'm Yours,Jason Mraz,I'm Yours,"1,457",11 de febrero de 2008
96,Youngblood,5 Seconds of Summer,Youngblood,"1,446",12 de abril de 2018
97,Sugar,Maroon 5,V,"1,446",29 de agosto de 2014
98,Can't Stop the Feeling!,Justin Timberlake,Trolls: Original Motion Picture Soundtrack,"1,439",6 de mayo de 2016
99,Heathens,Twenty One Pilots,Suicide Squad: The Album,"1,432",16 de junio de 2016

In [53]:
top_songs.rename(columns = {'Canción':'track_name','Artista(s)':'artist_name','Álbum':'album','Millones de reproducciones':'reproductions_in_millions','Fecha de publicación':'publication_date'}, inplace = True)

In [54]:
columnas=['reproductions_in_millions']


for e in columnas:
    if e in ['reproductions_in_millions']:
        print(e.replace(',','.'))

reproductions_in_millions

In [55]:
number = []
for e in top_songs['reproductions_in_millions']:
    number.append(float(e.replace(',','.')))
top_songs['reproductions_in_millions'] = number

In [56]:
top_songs

,track_name,artist_name,album,reproductions_in_millions,publication_date
0,Shape of You,Ed Sheeran,÷,3.272,6 de enero de 2017
1,Blinding Lights,The Weeknd,After Hours,3.220,29 de noviembre de 2019
2,Dance Monkey,Tones and I,The Kids Are Coming y Welcome to the Madhouse,2.682,10 de mayo de 2019
3,Rockstar,"Post Malone, 21 Savage",Beerbongs & Bentleys,2.529,15 de septiembre de 2017
4,Someone You Loved,Lewis Capaldi,Breach y Divinely Uninspired to a Hellish Extent,2.520,8 de noviembre de 2018
...,...,...,...,...,...
95,I'm Yours,Jason Mraz,I'm Yours,1.457,11 de febrero de 2008
96,Youngblood,5 Seconds of Summer,Youngblood,1.446,12 de abril de 2018
97,Sugar,Maroon 5,V,1.446,29 de agosto de 2014
98,Can't Stop the Feeling!,Justin Timberlake,Trolls: Original Motion Picture Soundtrack,1.439,6 de mayo de 2016
99,Heathens,Twenty One Pilots,Suicide Squad: The Album,1.432,16 de junio de 2016

In [57]:
for c in top_songs.select_dtypes('object').columns:
    
    top_songs[c]=top_songs[c].astype('category')
    
top_songs.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   track_name                 100 non-null    category
 1   artist_name                100 non-null    category
 2   album                      100 non-null    category
 3   reproductions_in_millions  100 non-null    float64
 4   publication_date           100 non-null    category
dtypes: category(4), float64(1)
memory usage: 37.7 KB

In [58]:
for c in top_songs.select_dtypes('float').columns:
    
    top_songs[c]=pd.to_numeric(top_songs[c], downcast='float')
    
top_songs.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 5 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   track_name                 100 non-null    category
 1   artist_name                100 non-null    category
 2   album                      100 non-null    category
 3   reproductions_in_millions  100 non-null    float32
 4   publication_date           100 non-null    category
dtypes: category(4), float32(1)
memory usage: 37.3 KB

In [59]:
#spoti.to_csv('../Spoti/spoti.csv')

In [60]:
#top_songs.to_csv('../Spoti/top_songs.csv')

In [61]:
from sqlalchemy import create_engine

In [84]:
with open('../ironhack/Proyecto-ETL/token.txt', 'r') as file:
    pass_=file.readlines()
token = ''.join(pass_)

In [85]:
str_conn='mysql+pymysql://root:token@localhost:3306/spotify'

cursor=create_engine(str_conn)

In [67]:
spoti.to_sql(name='years', con=cursor, if_exists='replace')

OperationalError: (pymysql.err.OperationalError) (3730, "Cannot drop table 'years' referenced by a foreign key constraint 'fk_artist_info_years' on table 'artist_info'.")
[SQL:
DROP TABLE years]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [ ]:
top_songs.to_sql(name='top_songs', con=cursor, if_exists='replace')

In [ ]:
url_justin='https://app.soundcharts.com/app/artist/justin-bieber/overview'

In [ ]:
driver.get(url_justin)

In [ ]:
justin=req.get(url_justin).text

justin[:1000]

In [ ]:
soup=bs(justin, 'html.parser')

type(soup)

In [ ]:
tabla =soup.find_all('div')

In [ ]:
len(tabla)

Esto deberia hacerse con una API a la que no me han dado acceso todavia asi que estoy usando un excel para poder continuar

In [68]:
info = pd.read_excel('../Spoti/artist_info.xlsx')

info.head()

,index,artist_name,number_of_hits,spotify_followers,instagram_followers,monthly_listeners,youtube_suscribers,tiktok_followers,twitter_followers,total_followers
0,0,Justin Bieber,19,67203271,264312466,67891041,70500000,26200000,113820708,663640235
1,1,Katy Perry,17,23322088,179001915,48082894,43600000,6700000,108866045,438021650
2,2,Maroon 5,16,38480318,8595840,49621851,36300000,2700000,14149689,148631306
3,3,Rihanna,15,50850088,138282394,67493665,40500000,5900000,107163343,443978646
4,4,Lady Gaga,15,23700563,53365114,46214005,22300000,8000000,84953332,257634862

In [69]:
info.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                20 non-null     int64
 1   artist_name          20 non-null     object
 2   number_of_hits       20 non-null     int64
 3   spotify_followers    20 non-null     int64
 4   instagram_followers  20 non-null     int64
 5   monthly_listeners    20 non-null     int64
 6   youtube_suscribers   20 non-null     int64
 7   tiktok_followers     20 non-null     int64
 8   twitter_followers    20 non-null     int64
 9   total_followers      20 non-null     int64
dtypes: int64(9), object(1)
memory usage: 2.8 KB

In [70]:
for c in info.select_dtypes('object').columns:
    
    info[c]=info[c].astype('category')
    
info.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                20 non-null     int64
 1   artist_name          20 non-null     category
 2   number_of_hits       20 non-null     int64
 3   spotify_followers    20 non-null     int64
 4   instagram_followers  20 non-null     int64
 5   monthly_listeners    20 non-null     int64
 6   youtube_suscribers   20 non-null     int64
 7   tiktok_followers     20 non-null     int64
 8   twitter_followers    20 non-null     int64
 9   total_followers      20 non-null     int64
dtypes: category(1), int64(9)
memory usage: 3.4 KB

In [71]:
for c in info.select_dtypes('integer').columns:
    
    info[c]=pd.to_numeric(info[c], downcast='integer')
    
info.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 10 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   index                20 non-null     int8
 1   artist_name          20 non-null     category
 2   number_of_hits       20 non-null     int8
 3   spotify_followers    20 non-null     int32
 4   instagram_followers  20 non-null     int32
 5   monthly_listeners    20 non-null     int32
 6   youtube_suscribers   20 non-null     int32
 7   tiktok_followers     20 non-null     int32
 8   twitter_followers    20 non-null     int32
 9   total_followers      20 non-null     int32
dtypes: category(1), int32(7), int8(2)
memory usage: 2.6 KB

In [72]:
info.rename(columns = {'index ':'nada'}, inplace = True)

In [73]:
info.rename(columns = {'artist_name ':'artist_name'}, inplace = True)

In [74]:
info.drop(columns = ['nada'], axis=1, inplace=True)

In [ ]:
#spoti.drop(columns = ['index'], axis=1, inplace=True)

In [ ]:
#keys['info'] = keys['artist_name'] + ' - ' + keys['track_name']
#keys.head()

In [75]:
keys.drop(columns = ['artist_name','track_name','year'], axis=1, inplace=True)

In [76]:
spoti.to_csv('../Spoti/spoti.csv')

In [77]:
top_songs.to_csv('../Spoti/top_songs.csv')

In [78]:
info.to_csv('../Spoti/info.csv')

In [79]:
keys.to_csv('../Spoti/info.csv')

In [80]:
spoti.to_sql(name='years', con=cursor, if_exists='replace')

OperationalError: (pymysql.err.OperationalError) (3730, "Cannot drop table 'years' referenced by a foreign key constraint 'fk_artist_info_years' on table 'artist_info'.")
[SQL:
DROP TABLE years]
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [86]:
top_songs.to_sql(name='top_songs', con=cursor, if_exists='replace')

OperationalError: (pymysql.err.OperationalError) (1045, "Access denied for user 'root'@'localhost' (using password: YES)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)

In [82]:
info.to_sql(name='artist_info', con=cursor, if_exists='replace')

20

In [83]:
keys.to_sql(name='keys', con=cursor, if_exists='replace')

703